.sidebar {
  display: flex;
  flex-direction: column;
  width: 200px;
  gap: 20px;
}

.sidebar__user-info {
  display: flex;
  align-items: center;
  gap: 12px;
}

.sidebar__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.sidebar__username {
  font-weight: 700;
  font-size: 18px;
  margin: 0;
}